@improt url('https://fonts.googleapis.com/css?family=Lato');
@charset UTF-8;

body, h2, ul {
        margin:0;
        padding: 0;
}

.btn{
  color: black;
  padding: 8;

  position: center;
}

h1{
  text-align: center;
  font-size: 40px;
  border-bottom: 3px solid pink;
  margin: 0;
  padding: 25px 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#grid {
    margin:40px 0 40px 40px;
    display: grid;
    grid-template-columns: 260px 1fr;
}


.menu {
    float: left;
    width: 250px;
    display: inline;
  }

.menu li a {
    display: block;
    height: 54px;
    line-height: 54px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #dfdfdf;
    color: #2c3e50;
    padding : 0 20px;
}

.menu li:last-child a {
    border-bottom: 0;
}

.menu li a:hover {
  background-color: pink;
  color: white;
}

.menu li a span{
    position: absolute;
    /* transform: translateY(-50%); */
    /* font-size: 22px; */
}
/*
.menu li a: hover {
    background-color: #efb22f;
    color: #fff;
    background-color: url(img.jpg/arr.png);
    background-repeat: no-repeat;
    background-position: right center;
}
*/
/*
.title {
    margin-top: 30px
}

.brochure {
    margin-top: 20px;
}

.brochure a {
    display: block;
    color: #8a8a8a;
    background-image: url(img.jpg/007.jpg)
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
}
*/
.contents {
    float: left;
    margin: 0px 73px;
}

.project-list {
    overflow: hidden;
}

.project-list li {
    width: 300px;
    float: left;
    margin: 0 25px 50px 25px;
}

.project-list li img {
    opacity : 0.8;
    width: 300px;
    height: 200px;
}

.project-list li img:hover {
    opacity: 1;
    transition: opacity 1s;
}

.project-list li .desc {
    line-height: 2;
    color: #848484;
}

.project-list li .more {
    color: #efb22f;
    font-weight: 700;
    font-size: 18px;
}

@@media(max-width: 1160px) {
    #grid {
      width: 1160px;
      grid-template-columns: 260px 1fr;
    }

</style>
